{% extends "layout.html" %}

{% block content %}
    <div class="container">
		<br><br><p><strong>НЕКОММЕРЧЕСКАЯ  ОРГАНИЗАЦИЯ "ИНСТИТУТ ПАРЛАМЕНТАРИЗМА"</strong> учреждена на базе целого ряда юридических, политконсалтинговых, маркетинговых, рекламных, социологических
		и PR-структур, имеющих значительный опыт и профессионально занимающихся организацией и обеспечением
		выборов в России и ближайшем зарубежье с 1993 года. 
		<br><strong>Основное направление деятельности Института –  ОРГАНИЗАЦИЯ ПРОПАГАНДИСТСКИХ И ИЗБИРАТЕЛЬНЫХ КАМПАНИЙ "ПОД КЛЮЧ"</strong><br>
		
		<br><strong>НАШИ ПРЕИМУЩЕСТВА:</strong><br>
		</p><ul><li>самая эффективная в России по соотношению "затраты-результат" предвыборная консалтинговая структура</li>
		<li>обеспечение поддержки со стороны федеральных и региональных органов исполнительной и законодательной власти</li>
		<li>знание региональной выборной специфики</li>
		<li>опыт участия более чем в 60 предвыборных кампаниях различного уровня (от местных до федеральных)</li>
		<li>команда профессионалов, способная вести успешную предвыборную кампанию в 5-ти регионах одновременно</li></ul>
		
		<p><strong>НАШИ ВОЗМОЖНОСТИ</strong><br>
		</p><ul><li>сильная юридическая служба</li>
		<li>собственная творческая (креативная) группа</li>
		<li>собственная аналитическая группа</li>
		<li>собственная полевая структура (орговики, агитаторы, наблюдатели, интервьюеры)</li>
		<li>постоянные партнеры: дизайн-бюро, фотографы, теле- и видеопроизводство</li>
		<li>кроме того, постоянно привлекаются специалисты по разным необходимым направлениям (на контрактной основе)</li></ul><p></p>
		
		<p><strong>ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ</strong><br>
		</p><p>Институт Парламентаризма осуществляет правое и судебное сопровождение избирательных кампаний в части обеспечения и защиты прав кандидатов на выборные должности в законодательные (представительные) органы государственной власти, а также в органы местного самоуправления.
		<br>
		Институт Парламентаризма укомплектован профессионалами в области избирательного права. Наши сотрудники принимали участие в выборах глав муниципальных образований, депутатов законодательных органов власти субъектов Российской Федерации.
		<br>
		Результативность технологий и методик, разработанных Институтом подтверждена письменными рекомендациями кандидатов-победителей и руководителей предвыборных штабов, а профессионализм сотрудников - отзывами Председателей избирательных комиссий.
		<br></p>

		<p>
		<strong>Институт Парламентаризма осуществляет правовое сопровождение избирательных кампаний по следующим вопросам:</strong>
		<br>
		</p><ul><li>юридический контроль за соответствием избирательных действий кандидата и его конкурентов действующему законодательству</li>
		<li>обучение штабов методикам подготовки наблюдателей и организации системы контроля</li>
		<li>подготовка наблюдателей к работе на избирательных участках</li>
		<li>организация системы контроля за голосованием и подсчетом голосов</li>
		<li>альтернативное определение итогов голосования и выявление признаков фальсификаций</li>
		<li>консультации по особенностям применения избирательного права</li>
		<li>сопровождение судебных процессов по нарушениям в избирательных кампаниях</li>
		</ul>
		
		<p><strong>"Ноу-хау" Института Парламентаризма являются:</strong><br></p>
        
        <ul><li>технология правого и судебного сопровождения избирательной кампании</li>
		<li>методика организации системы наблюдения за ходом голосования и подсчетом голосов</li>
		<li>собственная аналитическая группа</li>
		<li>программа превентивного подбора и обучения кадрового резерва для формирования участковых избирательных комиссий</li></ul>
    </div>

{% endblock %}
