{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br><p align="center"><strong>Архивные  материалы</strong></p><br>
    
    <p>Образцы рекламной продукции:
    
    Видеоролики для Приморской краевой избирательной комиссии для повышения явки.<br>
    </p><div align="center">Ролик №1<br><object width="480" height="385">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oVM5Vb8gB2U" frameborder="0" allowfullscreen></iframe>
    <br><br>Ролик №2<br><object width="480" height="385">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ieN7mwCnUZU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}