{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br><p align="center"><strong>Организация контроля за ходом голосования и подсчетом голосов</strong><br>
    Контроль  в день голосования</p><br><br>
    
    <p>Мы выстраиваем максимально эффективный на всех уровнях вертикально интегрированный механизм контроля голосования: УИК-ТИК-Областной/Краевой/Республиканский избиркомы, позволяющий четко пресекать любые фальсификации.
    <a href="{{ url_for('material') }}"><strong>(см. раздел "Методические материалы")</strong></a><br>
    Мы можем координировать деятельность и наладить в нужном русле технологическое обеспечение работы или контроль в окружных, территориальных и участковых избирательных комиссиях: провести методические семинары и инструктажи, частично укрепить комиссии кадрами в проблемных для нашего кандидата регионах.<br>
    Подробная процедура контроля разрабатывается индивидуально, с учетом конкретной ситуации.<br>
    Наши  сотрудники обладают уникальным опытом и серьезной методической базой по организации контроля за подсчетом голосов, что позволяет сохранить результаты голосования. Мы неоднократно помогали различным кандидатам не только на территории России, но и в странах СНГ.<br>
    Существует множество методик фальсификации результатов голосования, в том числе с использованием административного ресурса.<br><br>
    Основные  направления контроля для предотвращения фальсификаций следующие:</p>
    <ul><li>манипуляции со списком избирателей в сторону увеличения-уменьшения,</li>
    <li>досрочное голосование,</li>
    <li>голосование за "мертвые души",</li>
    <li>голосование по временным удостоверениям личности,</li>
    <li>"работа" с избирательным бюллетенем,</li>
    <li>выдача нескольких бюллетеней в одни руки,</li>
    <li>голосование по нескольким документам за "родственников",</li>
    <li>открепительные удостоверения,</li>
    <li>голосование на разных участках одним и тем же человеком с открепительным удостоверением,</li>
    <li>подвоз избирателей на участок с проведением агитации,</li>
    <li>прямой подкуп избирателей,</li>
    <li>организация "карусели" возле участков,</li>
    <li>вброс и/или изъятие "нужных" бюллетеней при голосовании и подсчете,</li>
    <li>организация появления "галочки" в избирательном бюллетене в нужной клеточке,</li>
    <li>подмена бюллетеней при подсчете,</li>
    <li>махинации с итоговыми протоколами,</li>
    <li>замена итогового протокола,</li>
    <li>смена чисел местами в итоговом протоколе,</li>
    <li>нейтрализация наблюдателей разными способами и т.д.</li></ul>
</div>

{% endblock %}