{% extends "layout.html" %}

{% block content %}

<div class="container">
    	<a name="top"></a>
        <br><br><p align="center"><strong>ОСНОВНЫЕ  УСЛУГИ В РАМКАХ ПРОВЕДЕНИЯ ИЗБИРАТЕЛЬНОЙ КАМПАНИИ</strong></p>
		
		<ol><li><a href="#1">Создание штаба и пресс-службы кандидата/списка кандидатов</a></li>
		<li><a href="#2">Планирование кампании</a></li>
		<li><a href="#3">Организация финансирования кампании</a></li>
		<li><a href="#4">Организация материально-технического обеспечения кампании</a></li>
		<li><a href="#5">Обеспечение безопасности</a></li>
		<li><a href="#6">Организация работы с местными администрациями</a></li>
		<li><a href="#7">Юридическое сопровождение кампании</a></li>
		<li><a href="#8">Организация работы в Окружной избирательной комиссии (областной, краевой, республиканской)</a></li>
		<li><a href="#9">Организация работы в территориальных и участковых избирательных комиссиях</a></li>
		<li><a href="#10">Организация работы общественной приемной кандидата</a></li>
		<li><a href="#11">Работа с кандидатом/списком кандидатов</a></li>
		<li><a href="#12">Организация работы по сбору подписей и кампания „от двери к двери“ (агитаторы)</a></li>
		<li><a href="#13">Информационно-социологическое и аналитическое сопровождение кампании</a></li>
		<li><a href="#14">Креатив рекламной кампании</a></li>
		<li><a href="#15">Работа со СМИ</a></li>
		<li><a href="#16">Организация информационных «поводов» и встречи с избирателями</a></li>
		<li><a href="#17">Подготовка печатных полиграфических материалов</a></li>
		<li><a href="#18">Наружная реклама</a></li>
		<li><a href="#19">Организация контрпропаганды</a></li>
		<li><a href="#20">Организация работы по контролю за ходом голосования и подсчетом голосов</a></li></ol>

		<a name="1"></a>
		<p><strong>1. Создание штаба и пресс-службы кандидата/списка кандидатов</strong></p>
		<ul><li>Формирование штаба кандидата/списка кандидатов: утверждение Начальника и бухгалтера штаба, утверждение Руководителя агитационной/рекламной кампании и пресс-секретаря, утверждение руководителей групп по направлениям и доверенных лиц кандидата</li>
		<li>Подбор кадров для работы в штабе</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="2"></a>
		<p><strong>Планирование кампании</strong></p>
		<ul><li>Анализ предвыборной ситуации в округе</li>
		<li>Разработка стратегии кампании</li>
		<li>Создание общего плана-графика избирательной кампании</li>
		<li>Разработка основных положений концепции и стратегии избирательной кампании</li>
		<li>Разработка плана рекламной кампании</li>
		<li>Разработка плана акций и мероприятий</li>
		<li>Корректировка плана-графика</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="3"></a>
		<p><strong>Организация финансирования кампании</strong></p>
		<ul><li>Составление первоначальной сметы и финансового плана</li>
		<li>Открытие специального счета избирательного фонда кампании</li>
		<li>Финансовое обеспечение кандидата/списка, всех структурных и территориальных подразделений команды материальными ресурсами</li>
		<li>Поиск доноров (в случае необходимости)</li>
		<li>Встречи с донорами</li>
		<li>Кандидат/Избирательное Объединение предоставляет в Окружную избирательную комиссию финансовый отчет не позднее чем через 30 дней после опубликования результатов выборов</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="4"></a>
		<p><strong>Организация материально-технического обеспечения кампании</strong></p>
		<ul><li>Составление первоначальной сметы  предполагаемых затрат материальных ресурсов</li>
		<li>Распределение ресурсов</li>
		<li>Уточнение сметы затрат материальных ресурсов, дозакупка</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="5"></a>
		<p><strong>Обеспечение безопасности</strong></p>
		<ul><li>Обеспечение режима безопасности и личной охраны (при  необходимости)</li>
		<li>Защита информации</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="6"></a>
		<p><strong>Организация работы с местными администрациями</strong></p>
		<ul><li>Информационная  и организационная  поддержка кандидата/списка кандидатов в органах местной власти</li>
		<li>Налаживание работы с общественными организациями, социальными службами, образовательными учреждениями и т.д.</li>
		<li>Налаживание взаимодействия с местными формальными и неформальными влиятельными структурами (cиловиками, спортсменами, афганцами, пенсионерами и др.)</li>
		<li>Помощь в организации встреч с ветеранскими организациями</li>
		<li>Помощь в работе с участковыми избирательными комиссиями</li>
		<li>Помощь в сборе подписей</li>
		<li>Помощь в подготовке организации встреч с населением, организации концертов и листовочной экспансии</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="7"></a>
		<p><strong>Юридическое сопровождение кампании</strong>      (см. <a href="{{ url_for('follow') }}">соответствующий раздел</a>)</p>
		<ul><li>Анализ  основных правовых и  регламентирующих документов и материалов</li>
		<li>Подготовка комментариев и разъяснений для членов штаба по правовым аспектам избирательной кампании</li>
		<li>Осуществление контактов с избирательными комиссиями</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="8"></a>
		<p><strong>Организация работы в Окружной избирательной комиссии (областной, краевой, республиканской)</strong></p>
		<ul><li>Создание инициативной группы</li>
		<li>Выдвижение кандидата/списка кандидатов</li>
		<li>Регистрация кандидата/списка кандидатов, получение регистрационного удостоверения</li>
		<li>Контроль за изготовлением избирательных бюллетеней</li>
		<li>Утверждение схемы наблюдения, списка членов комиссии с правом совещательного голоса и наблюдателей за ходом голосования в день выборов</li>
		<li>Информация о плане работы комиссии (для координации с планом работы штаба кандидата/списка кандидатов).</li>
		<li>Контроль за формулировками записей о кандидате/списке кандидатов, вносимых в избирательный бюллетень.</li>
		<li>Работа членов комиссии с правом совещательного голоса и наблюдателей по контролю за ходом голосования и подсчетом голосов</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="9"></a>
		<p><strong>Организация работы в территориальных и участковых избирательных комиссиях</strong></p>
		<ul><li>Информация о плане работы комиссии (для координации с планом работы штаба кандидата/списка)</li>
		<li>Работа членов комиссии с правом совещательного голоса и наблюдателей по контролю за ходом голосования и подсчетом голосов</li>
		<li>Досрочное голосование и открепительные удостоверения</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="10"></a>
		<p><strong>Организация работы общественной приемной кандидата</strong></p>
		<ul><li>Подбор  помещения</li>
		<li>Предоставление/найм юриста и психолога</li>
		<li>Организация дежурства для работы с избирателями</li>
		<li>Сбор и обработка жалоб и обращений граждан</li>
		<li>Подготовка еженедельной обзорно-аналитической записки и рекомендаций по итогам работы приемной</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="11"></a>
		<p><strong>Работа с кандидатом/списком кандидатов</strong></p>
		<ul><li>Сбор  материалов для содержательного  наполнения кампании. Подготовка и обновление файла кандидата/списка кандидатов (позиции по всем основным вопросам)</li>
		<li>Разработка предвыборной программы кандидата/списка кандидатов</li>
		<li>Работа с имиджем. Разработка программы корректировки имиджа</li>
		<li>Корректировка имиджа кандидата/ов</li>
		<li>Подготовка и проведение тренингов для построения имиджа публичных выступлений на встречах</li>
		<li>Организация постановочной фотосессии</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="12"></a>
		<p><strong>Организация работы по сбору подписей и кампания «от двери к двери» (агитаторы)</strong></p>
		<ul><li>Подбор  добровольных помощников - агитаторов</li>
		<li>Определение маршрутов и мест для сбора подписей</li>
		<li>Формирование групп сборщиков подписей, подготовка методических материалов и обучение исполнителей</li>
		<li>Обзвон избирателей, подписавших листы</li>
		<li>Проверка подписных листов (первичная)</li>
		<li>Предоставление подписных листов и официальных данных о кандидате/списке в избирательную комиссию</li>
		<li>Анализ мест расклейки полиграфических материалов. Планирование маршрутов и графиков расклейки</li>
		<li>Расклейка, разноска листовок и др. агитматериалов</li>
		<li>Распространение местной прессы</li>
		<li>Обеспечение организации проведения встреч кандидата/ов и его/их доверенных лиц с населением</li>
		<li>Проведение пикетов</li>
		<li>Почтовые рассылки</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="13"></a>
		<p><strong>Информационно-социологическое и аналитическое сопровождение кампании</strong></p>
		<ul><li>Изучение  истории территорий, анализ экономических  и социально-политических особенностей и электоральной истории районов, входящих в избирательного округа</li>
		<li>Подготовка аналитического материала по электоральной истории избирательного округа</li>
		<li>Подготовка инструментария социологического исследования избирательного округа и обучение команд интервьюеров</li>
		<li>Проведение полевого социологического исследования по анализу предвыборной ситуации в округе, определению рейтинга социальных проблем и выявлению реакции избирателей на различные символы</li>
		<li>Подготовка аналитического отчета и рекомендаций по ведению кампании</li>
		<li>Проведение исследований в фокус-группах</li>
		<li>Проведение экспертного опроса</li>
		<li>Создание социального паспорта избирательного округа</li>
		<li>Мониторинговые исследования избирательной ситуации в округе – еженедельно</li>
		<li>Подготовка основных программных тезисов избирательной кампании, проектирование слоганов и символьных построений для исследования реакции на них избирателей округа</li>
		<li>Адресный телефонный обзвон избирателей округа (максимальное количество домашних телефонов избирателей округа)</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="14"></a>
		<p><strong>Креатив рекламной кампании</strong></p>
		<ul><li>Разработка  творческой концепции рекламной кампании</li>
		<li>Разработка и создание творческих материалов для предвыборной кампании</li>
		<li>Производство образцов рекламных материалов</li>
		<li>Создание макетов печатных материалов для СМИ</li>
		<li>Тестирование созданной рекламной продукции на предмет ее соответствия интересам избирателей</li>
		<li>Корректировка ранее изготовленной рекламной продукции в соответствии с результатами предтестинга (досъемка, перемонтаж роликов, перемакетировка печатной продукции и т.д.)</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="15"></a>
		<p><strong>Работа со СМИ</strong></p>
		<ul><li>Составление медиа-плана</li>
		<li>Привлечение «райтеров» и журналистов</li>
		<li>Подготовка материалов</li>
		<li>Тиражирование публикаций в центральной и местной прессе</li>
		<li>Подготовка видеоклипов и радиоклипов о кандидате</li>
		<li>Демонстрация клипов на эфирном и кабельном телевидении</li>
		<li>Трансляция радиоклипов по эфирному и городскому радио</li>
		<li>Освещение социологических рейтингов на эфирном, кабельном телевидении, на радио, в центральной и местной прессе.</li>
		<li>Отклики на встречи с избирателями</li>
		<li>Разработка и реализация концепции специальных мероприятий по телевизионно-печатной экспансии</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="16"></a>
		<p><strong>Организация информационных «поводов» и встречи с избирателями</strong></p>
		<ul><li>Составление плана-графика встреч с избирателями</li>
		<li>Посещение предприятий и встречи с трудящимися</li>
		<li>Аренда или организация мест для встреч</li>
		<li>Встречи кандидата/ов и его/их доверенных лиц с избирателями, придомовые встречи</li>
		<li>Осуществление спец.мероприятий (по отдельному графику)</li>
		<li>Пикетирование выходов из метро и мест массового посещения / реализация технологии «обратная связь» (по спец.плану)</li>
		<li>Организация и проведение концертов с участием самодеятельности</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="17"></a>
		<p><strong>Подготовка печатных полиграфических материалов</strong></p>
		<ul><li>Разработка  и печать информационных листовок (ризографических и/или полиграфических)</li>
		<li>Подготовка празднично-агитационной продукции к общенациональным праздникам</li>
		<li>Материалы к различным датам</li>
		<li>Разработка и изготовление листовок и плакатов с шаржами на кандидатов</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="18"></a>
		<p><strong>Наружная реклама</strong></p>
		<ul><li>Планирование  размещение наружной рекламы и покупка площадей</li>
		<li>Размещение наружной рекламы и праздничных плакатов с кандидатом/ми (уличные стенды)</li>
		<li>Оформление витрин коммерческих структур и городского транспорта в избирательном округе плакатами и наклейками</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="19"></a>
		<p><strong>Организация контрпропаганды</strong></p>
		<ul><li>Сбор  и анализ информации о конкурентах</li>
		<li>Разработка контрпропагандистских акций и мероприятий</li>
		<li>Осуществление контрпропагандистских акций</li>
		<li>Участие в контрпропагандистских акциях</li>
		<li>Изъятие из оборота агитационных материалов конкурентов</li></ul>
		<p align="right"><a href="#top">Вверх</a></p><br>
		
		<a name="20"></a>
		<p><strong>Организация работы по контролю за ходом голосования и подсчетом голосов</strong><br>
		(см. Раздел: «<<a href="{{ url_for('control') }}">Организация контроля за ходом голосования и подсчетом голосов</a>»).</p>
</div>

{% endblock %}