{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br><p align="center"><strong>Юридическое сопровождение</strong></p>
    <p>Институт Парламентаризма  оказывает следующие услуги по юридическому сопровождению избирательных кампаний:</p>
    <ol>
    <li>консультирование кандидатов по вопросам практического применения избирательного законодательства</li>
    <li>сбор и подготовка документов для выдвижения и регистрации кандидата, списков кандидатов</li>
    <li>правовое обеспечение подписной кампании</li>
    <li>обеспечение соблюдения процедуры формирования избирательного фонда</li>
    <li>обеспечение соответствия закону агитационной кампании кандидата</li>
    <li>правовое обеспечение встреч с избирателями, а также иных агитационных массовых мероприятий: пикетов, митингов, шествий, демонстраций</li>
    <li>юридический анализ деятельности оппонентов и пресечение допущенных ими нарушений</li>
    <li>осуществление мероприятий по предотвращению регистрации и/или отмене регистрации оппонентов</li>
    <li>защита интересов кандидата в избирательных комиссиях, правоохранительных органах и суде</li>
    <li>обучение и организация эффективной работы наблюдателей и членов УИК с правом совещательного голоса</li></ol>
    
    <p>Специалисты Института на протяжении последних десяти лет обеспечивают высококвалифицированное юридическое сопровождение избирательных кампаний всех уровней. Мы предлагаем политическим партиям и будущим кандидатам различные формы сотрудничества: от консультирования по отдельным вопросам практического применения норм избирательного права до комплексного юридического сопровождения избирательной кампании.</p>
    <p></p>
</div>

{% endblock %}