{% extends "layout.html" %}

{% block content %}

<div class="container">
	<br><br><p align="center"><strong>Справка о деятельности "Института Парламентаризма"</strong></p>
	<p>Сотрудники некоммерческой организации «Институт Парламентаризма», начиная с 1993 года
	активно участвовали в проведении избирательных кампаний и их юридическом сопровождении
	на всех уровнях: федеральном, региональном и муниципальном, а так же в странах СНГ.
	Проведено более 60 предвыборных кампаний.</p><br>
	<p align="center"><strong>ФЕДЕРАЛЬНЫЕ И ЗАРУБЕЖНЫЕ КАМПАНИИ</strong></p>
	<ol><li>Выборы в Совет Федерации ФС РФ;</li>
	<li>Президентские выборы в Белоруссии в 1994 г.;</li>
	<li>Выборы в Государственную Думу ФС РФ в 1995, 1999 гг. в разных регионах;</li>
	<li>Президентские выборы РФ 1996 г.;</li>
	<li>Президентские выборы в республике Молдова 1996 г.;</li>
	<li>Выборы парламента Молдавии 2001 год;</li>
	<li>Президентские выборы на Украине в 2004 году;</li>
	<li>Создание партии "Едiна Украина" 2004 год;</li>
	<li>Выборы президента Абхазии 2004 год;</li>
	<li>Довыборы депутата Государственной Думы СФ РФ в 1997 году - генерала А.В. Коржакова в г.Тула;</li>
	<li>Обеспечение довыборов в Государственную думу в г.Ростов-на-Дону;</li>
	<li>PR-кампания депутата Госдумы О.В. Морозова в 1998-99 гг.;</li>
	<li>Участие в  организации общественно-политического  блока «Вся Россия» и проведение его PR-кампании;</li></ol>
	<br><p align="center"><strong>ВЫБОРЫ  В РЕГИОНАХ РОССИИ</strong></p>
	<ol>
	<li>Выборы губернатора Иркутской области;</li>
	<li>Выборы губернатора Красноярского края;</li>
	<li>Выборы губернатора Московской области;</li>
	<li>Выборы главы администрации Воронежской области 2000, 2004 гг.;</li>
	<li>Выборы губернатора Саратовской области;</li>
	<li>Выборы губернатора Тульской области;</li>
	<li>Выборы губернатора Тверской области;</li>
	<li>Выборы президента Калмыкии;</li>
	<li>Выборы президента Республики Карачаево-Черкесия;</li>
	<li>А так же обеспечение отдельных направлений работы в избирательных кампаниях на президентских и
	губернаторских выборах в Санкт-Петербурге, Татарстане, Ненецком автономном округе, Волгоградской,
	Ростовской, Смоленской, Челябинской, Магаданской, Калининградской областях и др. регионах.</li></ol>

	<br><p align="center"><strong>ВЫБОРЫ МЭРОВ</strong></p>
	<ol>
	<li>г.Воронеж,</li>
	<li>г.Санкт-Петербург,</li>
	<li>г.Нижний Новгород,</li>
	<li>г.Орел,</li>
	<li>г.Тула,</li>
	<li>г.Волжский.</li></ol>
	<p><strong>Выборы  муниципальных представительных органов:</strong></p>
	<ol>
	<li>г. Волжский</li>
	<li>г. Волгодонск – Городская дума</li></ol> 

	<br><p align="center"><strong>ВЫБОРЫ  В РЕГИОНАЛЬНЫЕ ЗАКОНОДАТЕЛЬНЫЕ  (ПРЕДСТАВИТЕЛЬНЫЕ) ОРГАНЫ СУБЪЕКТОВ РОССИЙСКОЙ ФЕДЕРАЦИИ</strong></p>
	<ol><li>Организация выборов депутатов по региональным спискам
	партии «Патриоты  России» - порядка 20 регионов;</li>
	<li>Орловская область (выборы депутатов Орловского областного Совета народных депутатов).</li>
	<li>Вологодская область (выборы депутатов Законодательного Собрания Вологодской области).</li>
	<li>Красноярский  край (выборы депутатов Законодательного Собрания Красноярского края первого  созыва).</li>
	<li>Ленинградская область (выборы депутатов Законодательного собрания Ленинградской области).</li>
	<li>Московская  область (выборы депутатов Московской областной Думы).</li>
	<li>Псковская область (выборы депутатов Псковской  области).</li>
	<li>Самарская область (выборы депутатов Самарской  губернской Думы).</li>
	<li>Республики  Дагестан выборы депутатов Народного  Собрания Республики Дагестан.</li>
	<li>Мурманская  область (выборы депутатов).</li>
	<li>Омская  область (выборы депутатов Законодательного Собрания Омской области).</li>
	<li>Санкт-Петербург (выборы депутатов Законодательного Собрания Санкт-Петербурга).</li>
	<li>Ставропольский край (выборы депутатов Государственной Думы Ставропольского края).</li>
	<li>Томская область (выборы депутатов Государственной  Думы Томской области).</li>
	<li>Тюменская область (выборы депутатов Тюменской  областной думы).</li>
	<li>Астраханская  область (выборы депутатов Астраханской областной думы).</li>
	<li>Республика  Карелия (выборы депутатов).</li>
	<li>Республика  Тыва (выборы депутатов Законодательной  палаты Великого Хурала Республики Тыва второго созыва).</li>
	<li>Свердловская  область (выборы депутатов).</li>
	<li>Липецкая  область (выборы депутатов).</li>
	<li>Новгородская  область (выборы депутатов).</li>
	<li>Пермский  край (выборы депутатов Законодательного Собрания Пермского края первого  созыва).</li>
	<li>Чувашская Республика (выборы депутатов Государственного Совета Чувашской Республики четвертого созыва).</li>
	<li>Довыборы депутатов Законодательного собрания Приморского края..</li></ol><p></p>
	
	<br><p align="center"><strong>НАША  ГЕОГРАФИЯ ВЫБОРОВ</strong></p>
	<ol><li>Москва и  Московская область,</li>
	<li>Санкт-Петербург и Ленинградская область,</li>
	<li>Алтайский край,</li>
	<li>Астраханская область,</li>
	<li>Белгородская область,</li>
	<li>Брянская область,</li>
	<li>Вологодская область,</li>
	<li>Воронежская область,</li>
	<li>Нижегородская область,</li>
	<li>Тверская область,</li>
	<li>Тульская область,</li>
	<li>Иркутская область,</li>
	<li>Калининградская область,</li>
	<li>Калужская область,</li>
	<li>Кировская область,</li>
	<li>Краснодарский край,</li>
	<li>Красноярский край,</li>
	<li>Липецкая область,</li>
	<li>Мурманская область,</li>
	<li>Ненецкий автономный округ,</li>
	<li>Нижегородская область,</li>
	<li>Новгородская область,</li>
	<li>Новосибирская область,</li>
	<li>Омская область,</li>
	<li>Орловская область,</li>
	<li>Оренбургская область,</li>
	<li>Пермский край,</li>
	<li>Приморский край,</li>
	<li>Псковская область,</li>
	<li>Ростовская область,</li>
	<li>Республика Дагестан,</li>
	<li>Республика Калмыкия,</li>
	<li>Республика Карачаево-Черкесия,</li>
	<li>Республика Карелия,</li>
	<li>Республика Коми,</li>
	<li>Республика Марий-Эл,</li>
	<li>Республика Тыва,</li>
	<li>Саратовская область,</li>
	<li>Самарская область,</li>
	<li>Свердловская область,</li>
	<li>Ставропольский край,</li>
	<li>Томская область,</li>
	<li>Тюменская область,</li>
	<li>Удмуртия,</li>
	<li>Ульяновская область,</li>
	<li>Челябинская область,</li>
	<li>Чувашская Республика,</li>
	<li>Ярославская область</li></ol></td>
</div>

{% endblock %}