{% extends "layout.html" %}

{% block content %}

<div class="container">
    <img src="../static/images/top.jpg" class="img-responsive"/>
</div>

<div class="container">
    <h3 style="text-align: center">Кандидатам на выборные муниципальные должности</br>
Руководителям избирательных штабов Кандидатов</h3>
</div>

<div class="container">
Сегодня мы наблюдаем в избирательных кампаниях активное использование отдельных аспектов избирательного законодательства в качестве PR-технологий. Многие избиркомы и кандидаты на выборные должности все чаще инициируют разбирательства, связанные с отказом в регистрации кандидатам на выборные должности и судебные процессы об отмене регистрации конкурентов.<br><br>

Это происходит в силу неоднозначности толкования ряда положений законов о выборах субъектов РФ. У избиркомов и конкурентов появляется 
возможность удаления с предвыборной дистанции практически любого кандидата либо по формальным основаниям в период выдвижения и регистрации, 
либо в период проведения избирательной кампании по одному "существенному" или "грубому" нарушению, которое, в свою очередь, может быть 
инициировано его противником в любой момент.<br>
Единственный способ противодействия этому – чётко организованное юридическое сопровождение избирательной кампании в части контроля 
за соответствием избирательных действий кандидата и его конкурентов действующему законодательству.<br><br>

К другой особенности выборов относится возможность фальсификаций в процессе голосования как с целью незаконной победы, так и с 
целью организации последующих судебных разбирательств для признания итогов голосования, результатов выборов недействительными.
Кроме того, многие кандидаты и их штабы, вкладывая значительные силы и средства в предвыборную агитацию, упускают из вида организацию 
системного наблюдения за голосованием и подсчетом голосов. В итоге - известное утреннее изречение штабистов: "Выигрывали днем, проиграли ночью".<br><br>

<b>Мы предлагаем Вам уникальную возможность использовать опыт сотрудников, методики и инструкции ИНСТИТУТА ПАРЛАМЕНТАРИЗМА 
по организации избирательных кампаний, правовому сопровождению и контролю за ходом голосования - подсчетом голосов</b>.<br><br>

С уважением В.Г. Боушев,<br>
Директор Института Парламентаризма</p>
</div>

{% endblock %}
