{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br><p align="justify">
    <strong>Институту парламентаризма  требуются:</strong><br><br>
    На постоянную работу практикующие юристы, имеющие опыт работы с избирательным законодательством или участия в выборных кампаниях!
    <br>Резюме направлять по адресу: <a href="mailto:hr@ip-pr.ru?Subject=IPPR-HR">hr@ip-pr.ru</a>
    <br>Справки по телефону: <a href="tel:+74956424276">+7 495 642-42-76</a>
    </p>		
</div>

{% endblock %}