<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Главная</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Об институте<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('about') }}">О нас</a></li>
                            <li><a href="{{ url_for('history') }}">История участия в избирательных кампаниях</a></li>
                            <li><a href="{{ url_for('media') }}">Издания института</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('team') }}">Команда Института Парламентаризма</a></li>
                            <li><a href="{{ url_for('jobs') }}">Вакансии</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наши услуги<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('follow') }}">Юридическое Сопровождение</a></li>
                            <li><a href="{{ url_for('elections') }}">Организация выборов</a></li>
                            <li><a href="{{ url_for('control') }}">Организация контроля за ходом голосовования и подсчетом голосов</a></li>
                            <li><a href="{{ url_for('specials') }}">Специальные технологии</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочные материалы<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('pravo') }}">Нормативные акты о выборах</a></li>
                            <li><a href="{{ url_for('zakon') }}">Разработка и правовая экспертиза законопроектов</a></li>
                            <li><a href="{{ url_for('material') }}">Методические материалы для избирательных кампаний</a></li>
                            <li><a href="{{ url_for('archive') }}">Архив</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('contact') }}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>{{ year }}&copy; Тел/Факс: <a href="tel:+74956424276">+7 495 642-42-76</a>; E-mail: <a href="mailto:info@ip-pr.ru?Subject=IPPR">info@ip-pr.ru</a>
            <br />105275, г. Москва, проспект Буденного, д.39, корп.3</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
