{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br>
    <p align="center"><strong>Методические  материалы для  избирательных кампаний</strong></p><br>
    
    <p><a href="/files/methodics/Instrukcija nabljudatelju.pdf">Инструкция о порядке действий Наблюдателя на выборах в день голосования на избирательном участке</a><br><br>
    <a href="/files/methodics/Komplekt dokumentov dlja nabljudatelja.pdf">Комплект документов для наблюдателя</a><br><br>
    <a href="/files/methodics/Instrukcija dlja chlena komissii s pravom sovewatel'nogo golosa.pdf">Инструкция о порядке действий члена комиссии с правом совещательного голоса на выборах в день голосования на избирательном участке</a><br><br>
    <a href="/files/methodics/Komplekt dokumentov dlja chlena komissii s pravom sovewatelnogo golosa.pdf">Комплект документов для члена комиссии с правом совещательного голоса</a><br><br>
    <a href="/files/methodics/Algoritm dejstvij chlena komissi s pravom sovewatelnogo golosa.pdf">Алгоритм работы члена участковой избирательной комиссии с правом совещательного голоса в день голосования на избирательном участке</a><br><br>
    <a href="/files/methodics/Tipichnye narushenija v den golosovanija.pdf">Типичные нарушения в день голосования и действия наблюдателя по их пресечению</a><br><br>
    </p>
    <p align="center"><strong>Если Вы заинтересованы получить полные версии документов - свяжитесь с нами по телефону:<br>
    <a href="tel:+74956424276">+7 495 642-42-76</a><br>
    е-mail: <a href="mailto:info@ip-pr.ru?Subject=IPPR">info@ip-pr.ru</a>
    </strong></p><br>
</div>

{% endblock %}
