{% extends "layout.html" %}

{% block content %}

<div class="container">
	<br><br><p align="center"><img src="http://www.bci-marketing.ru/images/o_polm1.jpg"><br>
	<strong>Журнал "Политический маркетинг"</strong><br>
	Главный редактор: <a href="{{ url_for('team') }}"><strong>Владимир Боушев</strong></a><br>
	Издается с января 1998г, периодичность выхода - ежемесячно.<br>
	<a href="http://www.bci-marketing.ru/soderzhaniya-zhurnalov/12-238-2016">Последний номер</a></p><p>
	
	</p><p>Единственный негосударственный  журнал в России посвященный выборам.
	<br>Практика ведения избирательных кампаний и политконсалтинга.
	<br>Анализ выборных технологий, рекламных и маркетинговых приемов.
	<br>Эффективные методики политической раскрутки.
	<br>Проблемы строительства партий и блоков.
	<br>Мониторинг социально-политической ситуации и электоральных настроений.
	<br>Вопросы PR-образования. 
	
	<br><br>Среди авторов издания: ведущие политики, политологи, социологи, психологи и специалисты в  области избирательных технологий и политической рекламы.
	<br><br>Приложение "Политический маркетинг" - издание для профессиональных политиков, политологов,
	политических технологов и рекламистов, а также  социологов, журналистов и финансистов. Это издание
	освещает все сегменты политического рынка в России: политический процесс, партии, движения, лидеры,
	идеи, электоральные настроения, избирательный процесс.
	
	<br><br>Журнал поможет Вам избежать риска, связанного с  оценкой перспектив того или иного
	политика или политического движения, политической ситуации в целом, всех аспектов политического рынка.

	<br><br>- краткосрочные и долгосрочные политические прогнозы;<br>
	- анализ ситуации в политических партиях и блоках;<br>
	- интервью с самыми перспективными политиками России;<br>
	- анализ наиболее важных избирательных кампаний в России;<br>
	- мониторинг социально-политических взглядов граждан России;<br>
	- технологии политического маркетинга и маркетинга идей;<br>
	- рейтинги и социологические опросы;<br>
	- описание деятельности исследовательских и аналитических центров,
	фондов и экспертных групп, работающих на российском рынке.</p>
	
	<p><br>В числе подписчиков журнала:
	</p><ul><li>Администрация Президента РФ,</li>
	<li>члены Совета Федерации,</li>
	<li>депутаты Государственной Думы,</li>
	<li>региональные органы власти,</li>
	<li>руководители крупных банков и корпораций.</li></ul>
	
	<p>Приоритетные направления тематики журнала:
	<ul><li>краткосрочные и долгосрочные политические прогнозы</li>
	<li>анализ ситуации в политических партиях и блоках</li>
	<li>интервью с самыми перспективными политиками России</li>
	<li>анализ наиболее важных избирательных кампаний в России</li>
	<li>мониторинг социально-политических взглядов граждан России</li>
	<li>технологии политического маркетинга и маркетинга идей</li>
	<li>рейтинги и социологические опросы</li>
	<li>описание деятельности исследовательских и аналитических центров, фондов и экспертных групп, работающих на российском рынке</li></ul></p>
</div>

{% endblock %}