{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br>
    <p align="center"><strong>Нормативные акты о выборах</strong></p>
    
    <ol><li><a href="/files/laws/FZ Ob osnovnyh garantijah.doc">Федеральный закон «Об основных гарантиях избирательных прав и права на участие в референдуме граждан РФ»</a></li>
    <li><a href="/files/laws/Statja 33 IZVLEChENIE.doc">Статья 33, Извлечение из ФЗ «Об основных гарантиях избирательных прав…»</a></li>
    <li><a href="/files/laws/FZ O politicheskih partijah.rtf">Федеральный закон «О политических партиях»</a></li>
    <li><a href="/files/laws/KoAP.rtf">Кодекс РФ об административных правонарушениях (КоАП)</a></li>
    <li><a href="/files/laws/GPK RF.rtf">Гражданский процессуальный кодекс РФ (ГПК)</a></li>
    <li><a href="/files/laws/APK RF.rtf">Арбитражный процессуальный кодекс РФ (АПК)</a></li>
    <li><a href="/files/laws/O sadovodcheskih ogorodnicheskih i dachnyh nekommercheskih  organizacij grazhdan.rtf">Федеральный закон «О садоводческих, огороднических и дачных некоммерческих объединениях граждан»</a></li>
    <li><a href="/files/laws/Razmery poshliny Izmenenija v NK RF O Gosposhline.doc">Изменения в Налоговый Кодекс РФ о размере Госпошлины</a></li>
    <li><a href="/files/laws/FZ Ob obwih principah organizacii.rtf">Федеральный закон «Об общих принципах организации законодательных (представительных) и исполнительных органов государственной власти субъектов РФ»</a></li>
    <li><a href="/files/laws/Ob obespechenii dostupa k informacii.doc">Федеральный закон «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления»</a></li>
    <li><a href="/files/laws/Rostovskij Oblastnoj zakon 429-ZS.rtf">Областной закон Ростовской области «О выборах глав муниципальных образований в Ростовской области»</a></li>
    <li><a href="/files/laws/Rostovskoj Oblastnoj zakon 414-ZS.rtf">Областной закон Ростовской области «О выборах депутатов представительных органов муниципальных образований в Ростовской области»</a></li></ol>		
</div>

{% endblock %}