{% extends "layout.html" %}

{% block content %}

<div class="container">
    <a name="#top"></a>
    <br><br><p align="center"><strong>СПЕЦИАЛЬНЫЕ ТЕХНОЛОГИИ</strong></p>
    <ul><li><a href="#1">ОТМЕНА РЕГИСТРАЦИИ КАНДИДАТОВ ЗА НАРУШЕНИЯ ЗАКОНА (Снятие конкурентов с выборов)</a></li>
    <li><a href="#2">Технология быстрой раскрутки</a></li>
    <li><a href="#3">Быстрое построение имиджа публичных выступлений    (умение держаться на публике, говорить, ходить)</a></li>
    <li><a href="#4">Скрытная работа по повышению или понижению рейтинга</a></li>
    <li><a href="#5">Aнтикризисная помощь</a></li></ul>
    
    <a name="1"></a>
    <p>1. <strong>ОТМЕНА РЕГИСТРАЦИИ КАНДИДАТОВ ЗА НАРУШЕНИЯ ЗАКОНА (Снятие с выборов конкурентов)</strong><br><br>
    (Проверка юридической состоятельности кампаний электоральных оппонентов)<br><br>
    
    Возможны следующие формы сотрудничества:<br>
    консультирование кандидатов по вопросам отмены регистрации (снятия) конкурентов;<br>
    юридический анализ деятельности оппонентов;<br>
    осуществление мероприятий по предотвращению регистрации и/или отмене решения избирательной комиссии о регистрации оппонентов;<br>
    сбор и подготовка документов для отмены регистрации кандидатов-конкурентов, списков кандидатов за:</p>
    <ul><li>предоставление недостоверных сведений при регистрации,</li>
    <li>нарушения в процессе формирования избирательного фонда, открытия специального избирательного счета и внесения избирательного залога,</li>
    <li>нецелевое расходование средств избирательного фонда,</li>
    <li>подкуп избирателей,</li>
    <li>ИНЫЕ нарушения при ведении агитационной кампании.</li></ul>
    <p>юридический анализ агитационной кампании кандидата-конкурента;<br>
    инициация запретов на распространение незаконных агитационных материалов конкурентов;<br>
    блокирование работы СМИ конкурентов, запрет на распространение тиражей с незаконными агитационными материалами;<br>
    сопровождение данных дел в избирательных комиссиях, суде и правоохранительных органах.<br><br>
    Предоставление каждой услуги обсуждается отдельно, при комплексном юридическом сопровождении избирательной кампании услуга входит в пакет.</p>
    <p align="right"><a href="#top">Вверх</a></p><br> 

    <a name="2"></a>
    <p>2. <strong>Технология быстрой раскрутки</strong><br><br>
    Уникальная технология создания концепции стратегии предвыборной агитации и рекламы, позволяющая в течение коротких сроков (1-3 месяца) значительно поднять рейтинг политической организации среди избирателей, что, в свою очередь, дает кандидатам на выборные должности, выдвинутым политической партией, обоснованно рассчитывать на получение мест в законодательных (представительных) органах государственной власти, органах местного самоуправления субъектов Российской Федерации.<br>
    Технология  основана на эксклюзивных разработках Института Парламентаризма и компании "Триз-Шанс". Она была неоднократно за последние 15 лет опробована на выборах разного уровня и неизменно давала рост рейтинга кандидатов, в том числе с нуля до 30-40%. В настоящий момент адаптирована для раскрутки на выборах малоизвестных политических организаций и позволяет поднять узнаваемость до 70-90%.<br>
    Технология  базируется на теории стереотипов восприятия и методике "уникального рекламного предложения". Книга о данной технологии "Приемы рекламы и PR" переиздавалась семь раз, в результате чего ее общий тираж является колоссальным для рынка рекламной литературы – около 100 тысяч экземпляров.<br>
    На  наши новости, размещенные на сайте http://www.triz-chance.ru, подписано 26000 человек, таким образом, это самая крупная в России электронная рассылка по рекламе и PR.<br>
    Для того, чтобы голосование отразило реальный рейтинг кандидата/политической партии, необходимо так же организация мероприятий по контролю за ходом голосования и процедурой подсчета голосов.<br>(см раздел «<a href="{{ url_for('follow') }}">Юридическое сопровождение</a>»)</p>
    <p align="right"><a href="#top">Вверх</a></p><br> 

    <a name="3"></a>
    <p>3. <strong>Быстрое построение имиджа публичных выступлений</strong><br><br>
    Научим  правильно говорить, ходить, выступать  публично!<br>
    Мы  можем за два дня научить практически любого кандидата правильно говорить, хорошо держаться, ходить, так, чтобы это нравилось большинству избирателей – простых людей, чтобы привлекало их.<br>
    Есть  специальные методики, они вербально-механистические, (условно говоря: смотри туда, положи руку таким образом, ноги ставь вот таким образом, улыбайся вот в такой-то момент, говори вот таким-то тоном, а пауза должна быть вот в такой-то момент), но основаны на психологических особенностях человеческого восприятия, быстро усвояемы и чрезвычайно эффективны по конечному результату – воздействию на электоральную аудиторию.<br>
    (Пример: Коржаков, он до нас, вообще, не имел опыта публичного общения, в том числе с журналистами).<br>
    Кроме всего прочего, после наших занятий  у человека появляется бешеная уверенность  в себе во время публичных выступлений, что немаловажно.<br>
    Технология  основана на собственных эксклюзивных разработках Института Парламентаризма и компании "Триз-Шанс"</p>
    <p align="right"><a href="#top">Вверх</a></p><br>

    <a name="4"></a>
    <p>4. <strong>Скрытая работа по повышению или понижению рейтинга</strong><br><br>
    Организуется служба по сбору, анализу и распространению слухов. Для сбора слухов о нашем кандидате и его конкурентах используется развернутая структура агитаторов. Агитаторы по заданию технолога собирают все появившиеся слухи, связанные с проводимой кампанией. По мере появления слухов на закрепленных за агитаторами территориях они сообщают о них координатору.<br>
    Координатор собирает, систематизирует и анализирует появившиеся на территории слухи и сообщает о них в центральный штаб. Для распространения слухов на территории создается отдельная структура. Для работы в этой структуре подбираются лица не связанные с работой агитаторов. Территориальная структура и кадровый состав службы строится исходя из планируемых центральным штабом задач. Рекомендованные центральным штабом для распространения слухи доводятся до исполнителей и вбрасываются в электоральное поле. Формы и методы вброса слухов разрабатываются для каждого населенного пункта отдельно, исходя из местных особенностей. Вброс слухов по территории района планируется, как единая акция, жестко регламентированная по территории и времени. Эффективность проведения специальных акций отслеживается через систему сбора информации о слухах.<br>
    Детали  обсуждаются индивидуально. Оплата лиц, принявших участие в этих специальных акциях, производится отдельно.</p><br>
    <p align="right"><a href="#top">Вверх</a></p><br> 

    <a name="5"></a>
    <p>5. <strong>Антикризисная помощь</strong><br><br>
    В случае выявления проблем при проведении избирательной кампании или недоукомплектованности предвыборного штаба, мы можем делегировать в регион антикризисную группу, в составе:</p>
    <ul><li>маркетолог,</li>
    <li>социолог,</li>
    <li>юрист,</li>
    <li>орговик – специалист по "полевым" технология (при необходимости),</li></ul>
    <p>которые в максимально короткие сроки диагностируют ситуацию, проведут "аудит" избирательной кампании, выработают рекомендации, которые позволят максимально нивелировать негативные последствия методологических ошибок.</p>
    <p align="right"><a href="#top">Вверх</a></p><br>
</div>

{% endblock %}