{% extends "layout.html" %}

{% block content %}

<div class="container">
<br><br><p align="left"><img src="../static/images/boss.jpg" class="img-responsive"><br>
    <strong>Владимир Геннадьевич Боушев,<br> 
    Директор Института Парламентаризма,<br> 
    Главный редактор журнала <a href="http://www.bci-marketing.ru/polm.htm">"Политический Маркетинг"</a></strong>
    </p>

    <p align="left"><br><img src="/images/Pasha.jpg"><br>
    <strong>Ольга Борисовна Пашковская,<br> 
    Исполнительный Директор Института Парламентаризма</strong>
    </p>

    <p align="left"><br><img src="/images/Shaha.jpg"><br>
    <strong>Шаханова Юлия Юрьевна,<br> 
    Финансовый Директор Института Парламентаризма</strong>
    </p>


    <p></p><h1 align="center">Департаменты Института Парламентаризма</h1><p></p>


    <p align="left"><strong>Аналитический,<br> 
    Начальник Департамента<br>
    Савченко Николай Николаевич<br>
    <br>
    Стратегического планирования и коррекции имиджа,<br> 
    Начальник Департамента<br>
    Краевский Михаил Карлович<br>
    <br>
    Рекламы и PR,<br> 
    Начальник Департамента<br>
    Евгений Львович Муравин<br>
    <br>
    СМИ и работы с медиа,<br> 
    Начальник Департамента<br>
    Юлия Аркадьена Зорина<br>
    <br>		
    Лоббистских программ,<br> 
    Начальник Департамента<br>
    Игорь Валентинович Серебряков<br>
    <br>		
    Законотворчества, юридического обеспечения и правового консультирования,<br> 
    Начальник Департамента<br>
    Андрей Готье<br>
    <br>
    Полевых маркетинговых и социологических исследований,<br> 
    Начальник Департамента<br>
    Ольга Симонова<br>
    <br>
    Геополитических проектов,<br> 
    Начальник Департамента<br>
    Владимир Самойлов<br>
    <br>
    <a name="anchor1"></a>IT-сопровождения,<br> 
    Начальник Департамента<br>
    Боушев Г.В.</strong></p>
</div>

{% endblock %}