{% extends "layout.html" %}

{% block content %}

<div class="container">
    <br><br><h1 align="center">РАЗРАБОТКА И ПРАВОВАЯ ЭКСПЕРТИЗА ЗАКОНОПРОЕКТОВ</h1>
    
    <p><strong>Институт Парламентаризма занимается разработкой и экспертизой законодательных документов<br><br>

    Пример экспертного заключения, подготовленного специалистами института на спорный региональный законопроект</strong></p>
    <p align="center"><img src="../static/images/Explain1.jpg" class="img-responsive"></p>
    <p align="center"><img src="../static/images/Explain2.jpg" class="img-responsive"></p><br>
    <br>Справки по телефону: <a href="tel:+74956424276">+7 495 642-42-76</a>
</div>

{% endblock %}